body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.graphic-section, .info-section {
    width: 45%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.graphic-section img {
    max-width: 100%;
    height: auto;
}

.info-section h2, .info-section h3 {
    color: #444;
}

.info-section ul {
    list-style: none;
    padding: 0;
}

.info-section ul li {
    background: #efefef;
    margin: 5px 0;
    padding: 5px;
}
